<%= form_with(model: @comment, url: path) do |f| %>
  <div class="d-flex mb-2 mt-3">
    <%= image_tag url_for_profile_image(current_user), class: 'comment-author-avatar' %>
    <%= f.text_area :body, class: 'ml-3 form-control', placeholder: 'Editar comentário...' %>
  </div>
  <div class="d-flex justify-content-end">
    <%= f.submit 'Editar', class: 'btn btn-primary btn-rounded ml-2 mb-3' %>
  </div>
<% end %>
