<div class="connect-card">
  <%= image_tag 'logos/gray_and_orange' %>
  <div class="connect-icon accepted">
    <%= icon('fas', 'check') %>
  </div>
  <div class="connect-text">
    <h4>Pedido de conexão aceito!</h4>
    <p>Agora o aluno poderá adicioná-lo como orientador ou co-orientador em seus trabalhos.</p>
  </div>
  <div class="connect-button">
    <%= link_to "Ir para inicio", teacher_home_index_path, class: "btn btn-dark" %>
  </div>
</div>
