<div class="list-header">
  <%= form_tag student_work_path(id: @work.id), autocomplete: :off, method: :get, remote: true do %>
    <%= text_field_tag 'search', params[:search], placeholder: "Pesquisar", class: "form-control col-sm-12 col-12 col-md-12 search-input" %>
  <% end %>
  <br>
  <%= link_to new_student_work_work_version_path(work_id: @work.id), class: 'btn btn-success col-md-3 col-sm-12 col-12', remote: true do %>
    Adicionar
  <% end %>
</div>
<br>
