<div class="comments">
  <h5 class="mt-3"><%= commentable.comments.count %> <%= Comment.model_name.human(count: commentable.comments.count) %></h5>
  <%= render 'student/comments/form', commentable: commentable, path: student_comments_path %>
  <%= render commentable.comments.is_parents.order(created_at: :desc) %>
</div>
