<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300&display=swap" rel="stylesheet">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

   <body style="padding: 70px 10px; background-color: #ffffff; font-family: 'Roboto', Arial;">
    <div style="width: 620px; height: 90px; text-align: center; margin: auto; background-color: #F8851B;">
      <img src="https://workify-public.s3.us-west-2.amazonaws.com/Branco.png" alt="Logo" title="Logo" style="width: 100px;">
    </div>
    <div style="width: 530px; padding: 32px 45px; background-color: #343a40; margin: auto; position: relative;">
      <div style="background-color: #ffffff;  padding: 32px;  border-radius: 20px;">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
