<div class="box">
  <div class="content">
    <%= render 'student/works/tabs' %>
    <%= render 'student/reviews/shared/header' %>

    <div class="review-list">
      <% @reviews.each do |review| %>
        <%= render 'student/reviews/shared/review_card', review: review %>
      <% end %>
    </div>

    <div class="info-pagination">
      <%= render "layouts/shared/pagination", items: @reviews %>
    </div>
  </div>
</div>
