<div class="box">
  <div class="content">
    <%= render 'teacher/works/shared/tabs' %>

    <div class="view-work">
      <div class="view-work-basic-info">
        <div class="work-header">
          <h3 class="work-theme"><%= @work.theme_label %></h3>
        </div>
        <p><%= @work.description.html_safe %></p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render 'teacher/works/shared/info' %>
        </div>
      </div>
    </div>
  </div>
</div>
