<div class="box">
  <div class="content">
    <div class="list-header">
      <span>
        Notificações
      </span>
    </div>

    <div class="notifications-list">
      <%= link_to student_notifications_path do %>
        <div id="new-notification-alert"></div>
      <% end %>
      <% @notifications.each do |notification| %>
        <%= render "student/notifications/#{notification.notifiable_type.underscore}/#{notification.action}", notification: notification %>
      <% end.empty? %>
        Nenhuma notificação.
      <% end %>
    </div>

    <div class="info-pagination">
      <%= render "layouts/shared/pagination", items: @notifications %>
    </div>
  </div>
</div>
