
<h1>Olá <%= @user.first_name %></h1>

<p style="font-size: 16px;">Você pediu um link para recuperar seu acesso, você pode fazer isso através do link abaixo.</p>

<p style="font-size: 16px;"><%= link_to 'Alterar minha senha', edit_student_password_resets_url(@token) %></p>

<p style="font-size: 16px;">Se você não pediu isso, por favor, ignore este e-mail.</p>

<p style="font-size: 16px;">Sua senha não mudará até você acessar o link acima e criar uma nova.</p>
