<div class="answer-form">
  Sua Resposta
  <%= form_with(model: @discussion_answer, url: path, local: false, html: { autocomplete: :off }) do |f| %>

    <div class="form-row mt-3">
      <div class="form-group col-md-12">
        <%= f.text_area :content, class: "form-control" %>
      </div>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-dark btn-rounded">Responder <%= icon("fas", "arrow-right") %></button>
    </div>
  <% end %>
</div>
