<div class="site-home-mobile">
  <div class="logo-gray"></div>
  <div class="site-ilustration"><%= image_tag "ilustrations/home.svg" %></div>
  <div class="site-text typewriter">
    <div class="title-wrapper">
      <span class="site-title-teacher">Professor e</span>
      <span class="site-title-student">Estudante,</span>
    </div>
    <span class="site-subtitle">
      O Workify veio com o objetivo de ajudá-los no processo de desenvolvimento de trabalho de conclusão de curso.
    </span>
  </div>
  <%= link_to "Entrar", sign_in_path, class: "signin-button" %>
  <%= link_to "Cadastrar-se", sign_up_path, class: "signup-button" %>
  <footer class="site-footer">
    © <%= Date.today.year %> - Workify
  </footer>
</div>
