<div class="site-home-desktop">
  <div class="site-header">
    <div class="logo-gray"></div>
    <div class="site-header-buttons">
      <%= link_to "Entrar", sign_in_path, class: "signin-button" %>
      <%= link_to "Cadastrar-se", sign_up_path, class: "signup-button" %>
    </div>
  </div>

  <div class="site-content">
    <div class="site-text typewriter">
      <div class="title-wrapper">
        <span class="site-title-teacher">Professor e</span>
        <span class="site-title-student">Estudante,</span>
      </div>
      <span class="site-subtitle">
        O Workify veio com o objetivo de ajudá-los no processo de desenvolvimento de trabalho de conclusão de curso.
      </span>
    </div>
    <div class="site-ilustration"><%= image_tag "ilustrations/home.svg", class: "img-fluid" %></div>
  </div>

  <footer class="site-footer">
    © <%= Date.today.year %> - Workify
  </footer>
</div>
