<div class="list-header">
  <span>
    Trabalhos
    <%= link_to new_student_work_path, class: 'icon-link', remote: true do %>
      <%= icon("fas", "plus-circle") %>
    <% end %>
  </span>
  <div>
    <%= form_tag student_works_path, autocomplete: :off, method: :get, remote: true do %>
      <%= text_field_tag 'search', params[:search], placeholder: "Pesquisar", class: "form-control col-md-12 col-sm-12 col-12", id: "search-input" %>
    <% end %>
  </div>
</div>
<br>
