.star-check {
  color: #ffd864;
}

.star-uncheck {
  color: black;
}

.discussion-list {
  padding: 20px;
}

.discussion-card {
  align-items: center;
  padding: 10px 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  margin-bottom: 20px;
}

.discussion-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.discussion-created-at {
  font-size: 12px;
}

.discussion .header {
  display: flex;
  justify-content: space-between;
}

.discussion-card-title {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none !important;
}

.discussion-title {
  font-size: 2rem !important;
}

.discussion .author {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.discussion .header {
  display: flex;
  justify-content: space-between;
}

.discussion .body{
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 20px;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.answer-header {
  display: flex;
  justify-content: space-between;
}

.answers .content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media (max-width: 720px)
{
  .discussion .header {
    flex-direction: column-reverse;
  }

  .discussion .header > .dropdown.show > div {
    width: 100%;
  }
}
