// Teacher list

.teacher-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
}

.teacher-list a {
  text-decoration: none;
  color: #000000;
}

.info-pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  span {
    margin-left: 5px;

    a {
      color: black;
      padding: 7px;
    }
  }

  span.current {
    background-color: #646262;
    color: white;
    padding: 0 3px;
    border-radius: 2px;
  }
}


// Teacher card

.teacher-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 200px;
  border-radius: 10px;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: transform .2s;

  .avatar img {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    object-fit: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .teacher-name {
      font-size: 19px;
      font-style: normal;
    }

    .teacher-email {
      font-size: 10px;
      color: rgb(83, 75, 75);
    }
  }

}

.button {
  margin: 20px 0;

  .btn-connection {
    text-decoration: none;
    color: white;
    padding: 2px 45px;
    border: none;
    border-radius: 20px;
  }

  .btn-connection:focus{
    outline-style: none;
  }

  .connect {
    background-color: #015EC5;
  }

  .connect:hover {
    background-color: #0A94D5;
  }

  .pending {
    background-color: #495057;
  }

  .pending:hover {
    background-color: #495057db;
  }

  .connected {
    background-color:#3e7937;
  }

  .connected:hover {
    background-color:#38972f;
  }

}

.teacher-card:hover {
  transform: scale(1.1);
}

// Teacher profile

.teacher-profile .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teacher-profile .avatar img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  object-fit: cover;
  margin-bottom: 15px;
}

.teacher-profile .teacher-name {
  font-size: 35px;
  font-weight: 600;
}

.teacher-profile h5 {
  margin-top: 10px;
  font-weight: 600;
}

.teacher-profile .teacher-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teacher-profile .header .tag {
  opacity: 0.8;
  margin-right: 10px;
  border-radius: 10px;
}


.teacher-profile .contacts {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  width: 500px;
  margin-top: 30px;

  a {
    color: #000000;
  }
}

.teacher-work-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

.teacher-work-list .teacher-work {
  width: 280px;
  height: 100px;
  border-radius: 10px;
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.teacher-work-theme {
  font-size: 18px;
}

@media (max-width: 720px)
{
  .teacher-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .teacher-profile .contacts {
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .teacher-work-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
