<div class="connect-card">
  <%= image_tag 'logos/gray_and_orange.png' %>
  <div class="connect-icon already-answered">
    <%= icon('fas', 'exclamation') %>
  </div>
  <div class="connect-text">
    <h4>Pedido de conexão já respondido!</h4>
  </div>
  <div class="connect-button">
    <%= link_to "Ir para inicio", teacher_home_index_path, class: "btn btn-dark" %>
  </div>
</div>
