@import "application";
@import "student/home";
@import "student/users";
@import "student/teachers";
@import "student/works";

$timeline-color: $student-primary-color;
@import "timeline";

.student-logo {
  background-image: asset-url($student-logo);
  width: 85px;
  height: 80px;
  margin-left: 35px;
  background-size: cover;
}

.sidebar-header .student-logo {
  margin-top: -23px;
}

.alert-danger {
  background-color: #d64242;
  color: white;
}

.alert-info {
  background-color: #2d71b1;
  color: white;
}
